@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Lato', sans-serif;
  color: #000;
}

#root {
  background-color: rgb(184, 248, 190);
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 2em;

}

p {
  margin-top: 1em;
}

.currencySpan {
  margin-left: .5em;
  font-weight: bold;
}

.mainInput,
select {
  width: 50%;
  font-family: 'Lato', sans-serif;
  font-size: 1em;
  padding: .5em;
  margin: .5em 0;
  border-radius: 15px;
  cursor: pointer;
  border: 2px solid #ddd;

}



.mainInput:focus,
select:focus {
  box-shadow: 2px 0px 20px 0px #ddd;
  outline: none;
  border: 2px solid black;
}

em {
  font-weight: bold;
  font-style: normal;
  margin-left: .5em;
}